<%- include('header') %>

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">BLOGS</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Your Blogs</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="text-center">
                                <th>TITLE</th>
                                <th>DESCRIPTION</th>
                                <th>IMAGE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <% blogdata.map((val)=>{
                                const {id,title,description,image}= val %>
                                <tr>
                                    <td>
                                        <%= title%>
                                    </td>
                                    <td>
                                        <%= description%>
                                    </td>
                                    <td>
                                        <img src="<%=image%>" width="100">
                                    </td>
                                    <td>
                                        <a href="/DeleteBlog?id=<%=id%>" class="btn btn-danger">Delete</a>
                                        <a href="/EditBlog?id=<%=id%>" class="btn btn-primary">Edit</a>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <%- include('footer') %>